requests
pdfplumber
aiohttp
async_timeout


langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
chromadb
sentence-transformers
pypdf
python-dotenv
ipykernel


httpx
beautifulsoup4
lxml
trafilatura
pypdfium2
python-docx
python-slugify
python-dateutil
tqdm
pillow
pytesseract
langdetect
